* {
    box-sizing: border-box;
}

body {
    background-color: #f5f6ff;
}

.container {
    padding: 10px;
    /* background-color: red; */
    max-width: fit-content;
    margin: 50px auto;

}

.btn {
    border: none;
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add {
    background: #194064;
    color: white;

}

.add-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-container form {
    width: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}

.add-container form input {
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.add-container form label {
    font-size: 15px;

}
.add-container form button {
background-color: blue;
color: white;
font-weight: 500;
margin-top: 20px;

}

.add-container form .close-btn{
    margin-left: auto;
    font-size: 18px;
    width: 20px;
    height: 20px;
    /* background-color: rgb(233, 103, 103); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.table-container {
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.table-container table {
 border: 1px solid #c9c5c2;
}
.table-container table thead tr{
    background-color: #f0eaea ;
}
.table-container table thead tr th,
.table-container table tbody tr td{
  min-width: 200px;
  padding: 7px;
  text-align: center;
}

.table-container table tbody tr td{
    border-bottom: 2px solid #c9c5c2;
    
}

.btn-edit,.btn-delete{
    font-size: 16px;
    padding: 5px 10px;
    margin: 0px 10px;
}
.btn-edit{
    background-color: #e2f413;
}
.btn-delete{
    background-color: #fa1717;
}
p{
    text-align: center;
}




/* CSS */
.btn-add {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-add:focus {
  text-decoration: none;
}

.btn-add:hover {
  text-decoration: none;
}

.btn-add:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.btn-add:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .btn-add {
    padding: 12px 50px;
  }
}